@model IEnumerable<MvcSf.Models.ShoppingCartProductTable>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ImageFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductTable.ProductName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ShoppingCartTable.CreatedBy)
        </th>
        <th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Price)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ImageFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductTable.ProductName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ShoppingCartTable.CreatedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShoppingCartProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShoppingCartProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShoppingCartProductID })
        </td>*@
    </tr>
}

</table>
