@model IEnumerable<MvcSf.Models.OrderProductTable>

<h1>Hello worldddd</h1>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTable.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductTable.ProductName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTable.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductTable.ProductName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderProductID })
        </td>
    </tr>
}

</table>
